imageTag: 8.5.1

replicas: 2
minimumMasterNodes: 2
resources:
  requests:
    cpu: "100m"
    memory: "512M"
  limits:
    cpu: "1000m"
    memory: "1024M"
volumeClaimTemplate:
  storageClassName: "gp2"
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 2Gi
