replicas: 1
minimumMasterNodes: 1
resources:
  requests:
    cpu: "100m"
    memory: "512M"
  limits:
    cpu: "1000m"
    memory: "1024M"
volumeClaimTemplate:
  storageClassName: "gp2"
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
