replicas: 1
resources:
  requests:
    cpu: "100m"
    memory: "256M"
  limits:
    cpu: "500m"
    memory: "512M"
persistence:
  enabled: true

volumeClaimTemplate:
  storageClassName: "gp2"
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 2Gi
