replicas: 1

minimumMasterNodes: 1

esConfig:
  elasticsearch.yml: |
    discovery.type: single-node
    xpack.security.enabled: false

resources:
  requests:
    cpu: "500m"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "1Gi"

# resources:
#   requests:
#     cpu: "500m"
#     memory: "1Gi"
#   limits:
#     cpu: "1"
#     memory: "2Gi"

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi

antiAffinity: "soft"
